@font-face {
  font-family: "FixelDisplay";
  src: url("../fonts/FixelDisplay-Regular.woff2 ") format("woff2");
  font-weight: 300;
  /* Light */
  font-style: normal;
}
@font-face {
  font-family: "FixelDisplay";
  src: url("../fonts/FixelDisplay-Medium.woff2 ") format("woff2");
  font-weight: 500;
  /* Medium */
  font-style: normal;
}
@font-face {
  font-family: "FixelDisplay";
  src: url("../fonts/FixelDisplay-SemiBold.woff2 ") format("woff2");
  font-weight: 600;
  /* SemiBold */
  font-style: normal;
}
@font-face {
  font-family: "FixelDisplay";
  src: url("../fonts/FixelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  /* Bold */
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "FixelDisplay";
  font-size: 16px;
  font-weight: 300;
  padding-top: 90px;
}
.container {
  max-width: 1032px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*NavBar*/
.navbar {
  background-color: #231f20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 83px;
}
.navbar .nav-menu {
  display: flex;
  align-items: center;
}
.navbar .nav-menu li {
  margin-right: 80px;
}
.navbar .nav-menu li:last-child {
  margin-right: 0;
}
.navbar .nav-menu .navbtn {
  color: #ffff;
  display: flex;
  align-items: center;
}
.navbar .nav-menu .navbtn:hover {
  color: #f37021;
  transition: 0.3s;
}
.navbar .nav-menu .navbtn:hover .nav-arrow path {
  stroke: #f37021;
  transition: 0.3s;
}
.navbar .nav-menu-right {
  display: flex;
}
.navbar .nav-menu-right li:nth-last-child(2) {
  margin-right: 161px;
}
.navbar .logo {
  margin: 0 83px;
}
.navbar .logo img {
  display: block;
  height: auto;
  max-width: 100%;
}
.navbar .menu {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 40px 0;
  background-color: #ffff;
  display: none;
  gap: 40px;
  position: absolute;
  width: 100%;
  /* Або інша ширина, яку ви бажаєте */
  top: 100%;
  /* Підлаштуйте відповідно до вашої навігаційної панелі */
  left: 0;
  align-items: center;
  justify-content: center;
}
.navbar .menu a {
  font-size: 1rem;
  font-weight: 300;
  color: #231f20;
}
.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .dropdown-content a {
  font-size: 1rem;
  font-weight: 500;
  color: #231f20;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar .dropdown-content a:hover {
  background-color: #fff1e9;
  color: #f37021;
}
.navbar .burger-icon {
  display: none;
}
.hero {
  background-image: url("../images/herosection.webp");
  background-size: cover;
  background-position: center;
  height: 585px;
}
.hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.hero .hero-heading {
  font-size: 3.75rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 1rem;
}
.hero .hero-text {
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffff;
  margin-bottom: 3.75rem;
}
.hero .btn {
  display: inline-block;
  padding: 14px 89px;
  background: #f37021;
  color: #ffff;
  font-weight: 700;
  transition: 0.3s;
}
.hero .btn:hover {
  background-color: #cf4f02;
  color: #ffff;
}
.product {
  margin: 80px 0;
}
.product__title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #231f20;
  text-align: center;
  margin-bottom: 24px;
}
.product .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.product .product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin-bottom: 40px;
}
.product .product-container .product-card {
  background-color: #fff1e9;
}
.product .product-container .product-card .title-card {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 19px;
  margin-left: 6px;
  margin-bottom: 8px;
}
.product .product-container .product-card .description-card {
  margin-left: 6px;
  margin-bottom: 8px;
}
.product .product-button {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.product .btn {
  display: inline-block;
  padding: 14px 89px;
  background: #f37021;
  color: #ffff;
  font-weight: 700;
  transition: 0.3s;
}
.product .btn:hover {
  background-color: #cf4f02;
  color: #ffff;
}
.about {
  background-color: #231f20;
  height: 503px;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.about .about-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 40px;
}
.about .btn {
  display: inline-block;
  padding: 14px 89px;
  background: #f37021;
  color: #ffff;
  font-weight: 700;
  transition: 0.3s;
}
.about .btn:hover {
  background-color: #cf4f02;
  color: #ffff;
}
.discount {
  height: 503px;
}
.discount .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.discount .img-discount {
  margin-right: 24px;
}
.discount .discount-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #231f20;
  margin-bottom: 40px;
}
.discount .btn {
  background-color: transparent;
  border: 1px solid #f37021;
  color: #231f20;
  padding: 14px 39px;
  text-align: center;
  font-weight: 700;
  transition: 0.3s;
}
.discount .btn:hover {
  background-color: #f37021;
  color: #ffff;
}
.design {
  background-image: url("../images/section5.webp");
  background-size: cover;
  background-position: center;
  height: 430px;
}
.design .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.design .design-heading {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 16px;
}
.design .design-text {
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffff;
  margin-bottom: 40px;
}
.design .btn {
  display: inline-block;
  padding: 14px 89px;
  background: #f37021;
  color: #ffff;
  font-weight: 700;
  transition: 0.3s;
}
.design .btn:hover {
  background-color: #cf4f02;
  color: #ffff;
}
.gallery {
  align-items: center;
  padding: 80px 0 40px 0;
}
.gallery .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.gallery__title {
  font-size: 2.625rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.gallery__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin-bottom: 40px;
}
.gallery .btn {
  display: block;
  margin: 0 auto;
  padding: 14px 89px;
  background: #f37021;
  color: #ffff;
  font-weight: 700;
  transition: 0.3s;
}
.gallery .btn:hover {
  background-color: #cf4f02;
  color: #ffff;
}
.faq .container {
  padding: 40px 0 80px 0;
}
.faq__title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #231f20;
  margin-bottom: 24px;
}
.faq__details {
  background-color: #231f20;
  color: #ffff;
  font-size: 1.125rem;
  border-bottom: 1px solid #ffff;
}
.faq__details__summary {
  font-size: 1.125rem;
  font-weight: 300;
  padding: 19px 24px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  cursor: pointer;
}
.faq__details__summary::-webkit-details-marker {
  display: none;
}
.faq__details__summary:after {
  content: "\002B";
}
.faq__details__content {
  padding: 8px 24px;
}
.faq__details__content:not([open]) .faq__details__content {
  display: none;
}
.form {
  background-color: #f37021;
  height: 328px;
}
.form .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form .container .form-heading {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 12px;
  text-align: center;
}
.form .container .form-text {
  font-size: 1.125rem;
  font-weight: 300;
  color: #231f20;
  margin-bottom: 40px;
  text-align: center;
}
.form .container .form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.form .container .btn-black,
.form .container .btn-black-outlined {
  display: inline-block;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.form .container .btn-black {
  padding: 14px 69px;
  background: #231f20;
  color: #ffff;
  border-color: transparent;
  transition: 0.3s;
}
.form .container .btn-black:hover {
  background-color: #ffff;
  color: #231f20;
}
.form .container .btn-black-outlined {
  padding: 14px 87px;
  background-color: transparent;
  border-color: #231f20;
  color: #ffff;
  transition: 0.3s;
}
.form .container .btn-black-outlined:hover {
  background-color: #231f20;
  color: #ffff;
}
.form .popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.form .tilte {
  font-size: 16px;
}
.form .popup-content {
  background: #fff;
  padding: 40px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.form .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.form .contact-form {
  align-items: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form .contact-form .title {
  font-size: 2.625rem;
  margin-bottom: 40px;
}
.form .contact-form input[type="text"],
.form .contact-form input[type="tel"],
.form .contact-form textarea {
  margin-bottom: 20px;
  border: 2px solid #afafaf;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}
.form .contact-form textarea {
  padding: 16px;
  height: 100px;
}
.form .contact-form button {
  padding: 15px;
  background-color: #f37021;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.125rem;
  font-weight: 700;
  width: 100%;
}
.form .contact-form button:hover {
  background-color: #cf4f02;
}
.footer {
  background-color: #231f20;
  padding: 40px 0;
}
.footer .footer-logo a img {
  display: block;
  margin-bottom: 12px;
}
.footer .footer-logo p {
  color: #ccc;
  font-size: 14px;
}
.footer h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 24px;
  color: #fff;
}
.footer .contact-info li,
.footer .footer-manufacturing ul li {
  list-style: none;
  margin-bottom: 12px;
}
.footer .contact-info li a,
.footer .footer-manufacturing ul li a {
  color: #ffff;
  text-decoration: none;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: 187px 260px 298px 24px;
  gap: 80px;
}
.footer .icon-social {
  margin-bottom: 24px;
}
.categories {
  background-color: #f8f8f8;
  padding: 80px 0;
}
.categories .container {
  max-width: 924px;
}
.categories h2 {
  font-size: 2.625rem;
  font-weight: 700;
}
.categories__title {
  text-align: center;
  margin-bottom: 40px;
}
.categories__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px 24px;
  justify-items: center;
  align-items: center;
}
.categories .category-card {
  background-color: #ffff;
  width: 213px;
  height: 176px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.categories .category-card:hover {
  background-color: #ffe5d6;
}
.categories .category-card:hover p {
  color: #f37021;
}
.categories .category-card img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 10px;
}
.categories .category-card p {
  font-size: 1.125rem;
  font-weight: 700;
}
.artbruk {
  padding: 80px 0px;
}
.artbruk .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
}
.artbruk h2 {
  font-size: 2.625rem;
  font-weight: 700;
  color: #231f20;
  margin-bottom: 12px;
}
.artbruk h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.artbruk .text-content {
  width: 591px;
}
.quality {
  background-color: #231f20;
  height: 503px;
}
.quality .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.quality h2 {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 12px;
}
.quality p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffff;
}
.quality .text-content {
  width: 416px;
}
.quality .about-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 40px;
}
.quality img {
  margin-right: 24px;
}
.tech {
  height: 503px;
}
.tech .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.tech h2 {
  font-size: 2.625rem;
  font-weight: 700;
  color: #231f20;
  margin-bottom: 12px;
}
.tech p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #231f20;
}
.tech .text-content {
  width: 413px;
}
.tech .about-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 40px;
}
.years {
  background-color: #231f20;
  height: 503px;
}
.years .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.years h2 {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 12px;
}
.years p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffff;
}
.years .text-content {
  width: 416px;
}
.years .about-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 40px;
}
.years img {
  margin-right: 24px;
}
.delivery {
  padding: 80px 0px;
}
.delivery .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
}
.delivery h2 {
  font-size: 2.625rem;
  font-weight: 700;
  color: #231f20;
  margin-bottom: 24px;
}
.delivery p {
  font-size: 1rem;
  font-weight: 300;
  color: #231f20;
}
.delivery .text-content {
  width: 417px;
}
.delivery .about-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 40px;
}
.payment {
  background-color: #231f20;
  padding: 80px 0px;
}
.payment .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
}
.payment h2 {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 40px;
}
.payment p {
  font-size: 1rem;
  font-weight: 300;
  color: #ffff;
}
.payment .text-content {
  width: 416px;
}
.payment .about-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .hero .hero-heading {
    font-size: 42px;
  }
  .product__title {
    font-size: 32px;
  }
  .product .product-container {
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .product .product-card .image-card {
    width: 288px;
    height: auto;
    object-fit: cover;
  }
  .about .about-title {
    font-size: 32px;
  }
  .about img {
    width: 552px;
    height: auto;
  }
  .discount .discount-title {
    font-size: 32px;
  }
  .discount .img-discount {
    width: 552px;
    height: auto;
  }
  .design .design-heading {
    font-size: 32px;
  }
  .design .design-text {
    font-size: 1rem;
  }
  .gallery__title {
    font-size: 32px;
  }
  .gallery__images .img-g1 {
    width: 440px;
    height: 377px;
  }
  .gallery__images .img-g {
    width: 440px;
    height: 330px;
  }
  .faq__title {
    font-size: 32px;
  }
  .form .container .form-heading {
    font-size: 32px;
  }
  .form .container .form-text {
    font-size: 16px;
  }
  .footer .footer-grid {
    gap: 39px;
  }
  .categories .container {
    max-width: 896px;
  }
  .categories__grid {
    gap: 16px, 16px;
  }
  .categories .category-card {
    width: 212px 176px;
  }
  .artbruk h2 {
    font-size: 32px;
  }
  .artbruk p {
    font-size: 16px;
  }
  .artbruk .text-content {
    width: 462px;
  }
  .quality h2 {
    font-size: 32px;
  }
  .quality p {
    font-size: 16px;
  }
  .quality img {
    width: 554px;
  }
  .quality .text-content {
    width: 327px;
  }
  .tech h2 {
    font-size: 32px;
  }
  .tech p {
    font-size: 16px;
  }
  .tech img {
    width: 554px;
  }
  .tech .text-content {
    width: 327px;
  }
  .years h2 {
    font-size: 32px;
  }
  .years p {
    font-size: 16px;
  }
  .years img {
    width: 554px;
  }
  .years .text-content {
    width: 327px;
  }
  .delivery h2 {
    font-size: 32px;
  }
  .delivery img {
    max-width: 553px;
  }
  .delivery .text-content {
    width: 326px;
  }
  .payment h2 {
    font-size: 32px;
  }
  .payment img {
    max-width: 553px;
  }
  .payment .text-content {
    width: 326px;
  }
  .container {
    max-width: 896px;
  }
  .navbar .burger-icon {
    display: block;
  }
  .navbar .container {
    max-width: 896px;
  }
  .navbar .nav-menu,
  .navbar .nav-menu-right,
  .navbar .navbtn {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: calc(343px + (896 - 343) * ((100vw - 375px) / (1200 - 375)));
  }
  .navbar .burger-icon {
    display: block;
  }
  .navbar .container {
    max-width: calc(343px + (896 - 343) * ((100vw - 375px) / (1200 - 375)));
    padding: 0px 0px;
  }
  .navbar .nav-menu,
  .navbar .nav-menu-right,
  .navbar .navbtn {
    display: none;
  }
  .navbar .logo {
    margin: 0px 0px;
  }
  .hero {
    height: calc(480px + (600 - 480) * ((100vw - 375px) / (1200 - 375)));
  }
  .hero .hero-content {
    width: 100%;
  }
  .hero .hero-heading {
    font-size: calc(28px + (42 - 28) * ((100vw - 375px) / (1200 - 375)));
  }
  .hero .hero-text {
    font-size: 16px;
  }
  .hero .btn {
    padding: 14px 132px;
  }
  .product__title {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
  }
  .product .product-card .image-card {
    width: calc(343px + (928 - 343) * ((100vw - 375px) / (1200 - 375)));
    object-fit: fill;
  }
  .product .product-container {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(calc(343px + (928 - 343) * ((100vw - 375px) / (1200 - 375))), 1fr));
  }
  .product .btn {
    padding: 14px 132px;
  }
  .about {
    height: calc(511px + (600 - 511) * ((100vw - 375px) / (1200 - 375)));
  }
  .about .container {
    flex-direction: column-reverse;
    align-items: start;
  }
  .about img {
    width: calc(343px + (900 - 343) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (300 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
    object-fit: fill;
  }
  .about .about-title {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24x;
    width: 100%;
  }
  .about .btn {
    padding: 14px 132px;
  }
  .discount {
    height: calc(502px + (600 - 502) * ((100vw - 375px) / (1200 - 375)));
  }
  .discount .container {
    flex-direction: column;
    align-items: start;
  }
  .discount .img-discount {
    margin: 0px 0px;
    width: calc(343px + (900 - 343) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (300 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
    object-fit: cover;
  }
  .discount .text-content {
    width: 100%;
  }
  .discount .about-title {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24x;
  }
  .discount .btn {
    padding: 14px 86px;
  }
  .design {
    min-height: 493px;
  }
  .design .design-heading {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
  }
  .design .design-text {
    font-size: 16px;
  }
  .design .btn {
    padding: 14px 138px;
  }
  .gallery__title {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
  }
  .gallery__images {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .gallery__images .img-g1 {
    width: 100%;
    height: 100%;
  }
  .gallery__images .img-g {
    width: 100%;
    height: 100%;
  }
  .gallery .btn {
    padding: 14px 138px;
  }
  .faq__title {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
  }
  .form {
    height: 470px;
  }
  .form .container {
    flex-direction: column;
  }
  .form .container .form-heading {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
  }
  .form .container .form-text {
    width: 100%;
    font-size: 16px;
  }
  .form .container .form-buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }
  .form .container .btn-black {
    padding: 14px 116px;
  }
  .form .container .btn-black-outlined {
    padding: 14px 134px;
  }
  .footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer .icon-social {
    margin-bottom: 0px;
    margin-right: 24px;
  }
  .categories h2 {
    font-size: calc(24px + (32 - 24) * ((100vw - 375px) / (1200 - 375)));
  }
  .categories .category-card {
    width: calc(160px + (313 - 160) * ((100vw - 375px) / (1200 - 375)));
    height: 168px;
  }
  .categories__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
  }
  .artbruk .container {
    flex-direction: column-reverse;
  }
  .artbruk h2 {
    font-size: 24px;
    font-weight: 700;
    color: #231f20;
    margin-bottom: 12px;
  }
  .artbruk h3 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .artbruk .text-content {
    width: 100%;
  }
  .artbruk img {
    width: calc(328px + (500 - 300) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (200 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
  }
  .quality {
    height: calc(562px + (729 - 562) * ((100vw - 375px) / (1200 - 375)));
  }
  .quality .container {
    flex-direction: column;
    align-items: start;
  }
  .quality h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .quality p {
    font-size: 16px;
    font-weight: 300;
  }
  .quality img {
    width: calc(343px + (900 - 343) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (400 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
  }
  .quality .text-content {
    width: 100%;
  }
  .tech {
    height: calc(562px + (729 - 562) * ((100vw - 375px) / (1200 - 375)));
  }
  .tech .container {
    flex-direction: column-reverse;
    align-items: start;
  }
  .tech h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .tech p {
    font-size: 16px;
    font-weight: 300;
  }
  .tech img {
    width: calc(343px + (900 - 343) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (400 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
  }
  .tech .text-content {
    width: 100%;
  }
  .years {
    height: calc(562px + (729 - 562) * ((100vw - 375px) / (1200 - 375)));
  }
  .years .container {
    flex-direction: column;
    align-items: start;
  }
  .years h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .years p {
    font-size: 16px;
    font-weight: 300;
  }
  .years img {
    width: calc(343px + (900 - 343) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (400 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
  }
  .years .text-content {
    width: 100%;
  }
  .delivery .container {
    flex-direction: column-reverse;
    align-items: start;
  }
  .delivery h2 {
    font-size: 24px;
    font-weight: 700;
    color: #231f20;
    margin-bottom: 12px;
  }
  .delivery .text-content {
    width: 100%;
  }
  .delivery img {
    width: calc(343px + (900 - 343) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (400 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
  }
  .payment .container {
    flex-direction: column;
    align-items: start;
  }
  .payment h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .payment .text-content {
    width: 100%;
  }
  .payment img {
    width: calc(343px + (900 - 343) * ((100vw - 375px) / (1200 - 375)));
    height: calc(200px + (400 - 200) * ((100vw - 375px) / (1200 - 375)));
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 360px) {
  .hero .btn {
    padding: 14px 105px;
  }
  .product .btn {
    padding: 14px 105px;
  }
  .about .btn {
    padding: 14px 102px;
  }
  .discount .btn {
    padding: 14px 52px;
  }
  .design .btn {
    padding: 14px 105px;
  }
  .gallery .btn {
    padding: 14px 105px;
  }
  .form .container .btn-black {
    padding: 14px 84px;
  }
  .form .container .btn-black-outlined {
    padding: 14px 105px;
  }
}
@media screen and (max-width: 560px) {
  .form .popup-content {
    align-items: start;
    padding: 20px;
    max-width: 90%;
  }
  .form .contact-form input[type="text"],
  .form .contact-form input[type="tel"],
  .form .contact-form textarea {
    padding: 16px;
  }
  .form .contact-form textarea {
    height: 80px;
  }
  .form .contact-form {
    align-items: start;
  }
  .form .contact-form .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .form .contact-form button {
    padding: 14px;
  }
  .form .close {
    margin-right: 10px;
  }
}
